@import url("../../styles.css");

/*GameBoard*/
.GameBoard{
    border: 7px solid #000000;
    width: 25%;
    margin: 5% auto 0 auto;
    text-align: center;
    font-size: 18px;
}

/*GameCells*/
.GameCell{
    border: 3.5px solid #000000;
    padding: 2.5%;
}