@import url("../../styles.css");

/*GameBoard*/
.GameBoard{
    border: 7px solid #000000;
    margin: 5% auto 0 auto;
    text-align: center;
    font-size: 18px;
}

/*GameCells*/
.GameCell{
    border: 3.5px solid #000000;
    padding: 15%;
}


/*TileRack*/
.TileRack{
    border: 7px solid #000000;
    margin: 5% auto 0 auto;
    text-align: center;
    font-size: 18px;
}

/*GameTile*/
.GameTile{
    border: 3.5px solid #000000;
    padding: 3%;
}