@import url("../../styles.css");

/*GameBoard*/
.GameBoard{
    border: 7px solid #000000;
    margin: 5% auto 0 auto;
    text-align: center;
    font-size: 18px;
}

/*GameCells*/
.GameCell, .GameTile{
    border: 3.5px solid #000000;
    min-width: 20px;
    min-height: 20px;
    padding: 7px;
}


/*TileRack*/
.TileRack{
    border: 7px solid #000000;
    margin: 5% auto 0 auto;
    text-align: center;
    font-size: 18px;
}